:root {  
    --red: #ff6f69;  
    --beige: #ffeead;  
    --yellow: #ffcc5c; 
    --indira-primary: #4E2378;
    --indira-secundary: #0B1B41;
  }

.ribbon-menu {
    display: block;
    position: relative;
}

.ribbon-menu .tabs-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none inside;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #dadbdc;
}

.ribbon-menu .tabs-holder .static {
    background-color: var(--indira-primary);
    color: #ffffff;
}

.ribbon-menu .tabs-holder li {
    color: white;
    background-color: #171246;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.ribbon-menu .tabs-holder li + li {
    margin-left: 3px;
}

.ribbon-menu .tabs-holder a {
    text-decoration: none;
    padding: 0 14px;
    font-size: 12px;
    background-color: inherit;
    color: inherit;
}

.ribbon-menu .tabs-holder li, .ribbon-menu .tabs-holder a {
    display: block;
    height: 24px;
    line-height: 24px;
}

.ribbon-menu .tabs-holder li:hover, .ribbon-menu .tabs-holder a:hover {
    background-color: #291753;
    transition: 0.3s ease;
    cursor: pointer;
}

.ribbon-menu .tabs-holder .active {
    background-color: black;
    border: 1px solid #dadbdc;
    border-bottom-color: transparent;
}

.ribbon-menu .content-holder {
    background-color: #f5f6f7;
    border-left: none;
    border-right: none;
}

.ribbon-menu .content-holder {
    display: block;
    position: relative;
}

.ribbon-menu .content-holder .section.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ribbon-menu .content-holder .section {
    display: none;
    padding: 4px 4px;
    border-bottom: 1px solid #dadbdc;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.bg-black {
    background-color: black;
}